# Duplicated Rows in Deep Feature Synthesis

When using a `cutoff_time` dataframe with more than one row per unique observation (customer in this case), dfs creates duplicated rows when `chunk_size` is less than the size of the labels. The duplicated rows are created for the same cutoff time for the same customer. If `chunk_size = len(labels)` this issue does not occur. `drop_duplicates` _does not work_ as a solution because for some customers, the information is the exact same for multiple months. Therefore, you have to reset the index (assuming you included the `cutoff_time_in_index` in `dfs`) so the time is unique for each individual and then `drop_duplicates()`. This is shown below.

In [14]:
# Data manipulation
import pandas as pd 
import numpy as np

# Automated feature engineering
import featuretools as ft

# Read in data
csv_s3 = "https://s3.amazonaws.com/duplicated-rows/clean_retail_data.csv"
data = pd.read_csv(csv_s3, parse_dates=["order_date"])

labels = pd.read_csv('https://s3.amazonaws.com/duplicated-rows/labels.csv', 
                     parse_dates = ['cutoff_time'], index_col = 0)

# Entity set
es = ft.EntitySet(id="Online Retail Logs")

# Add the entire data table as an entity
es.entity_from_dataframe("purchases",
                         dataframe=data,
                         index="purchases_index",
                         time_index = 'order_date',
                         variable_types={'description': ft.variable_types.Text})

# create a new "products" entity
es.normalize_entity(new_entity_id="products",
                    base_entity_id="purchases",
                    index="product_id",
                    additional_variables=["description"])

# create a new "customers" entity based on the orders entity
es.normalize_entity(new_entity_id="customers",
                    base_entity_id="purchases",
                    index="customer_id")

# create a new "orders" entity
es.normalize_entity(new_entity_id="orders",
                    base_entity_id="purchases",
                    index="order_id",
                    additional_variables=["country"])

# Creates no duplicate rows (chunk_size = len(labels))
feature_matrix, _ = ft.dfs(entityset=es, target_entity='customers',
                           cutoff_time = labels[labels['customer_id'].isin([12347, 12352])],
                           verbose = 2,
                           cutoff_time_in_index = True,
                           chunk_size = len(labels), n_jobs = -1,
                           max_depth = 1)

# Creates 42 duplicate rows
feature_matrix_duplicated, _  = ft.dfs(entityset=es, target_entity='customers',
                                       cutoff_time = labels[labels['customer_id'].isin([12347, 12352])],
                                       verbose = 2,
                                       cutoff_time_in_index = True,
                                       chunk_size = 2, n_jobs = -1,
                                       max_depth = 1)

2018-07-30 16:44:48,569 featuretools.entityset - WARNING    index purchases_index not found in dataframe, creating new integer column
Built 33 features

/anaconda3/lib/python3.6/site-packages/featuretools/computational_backends/utils.py:102: UserWarning: Chunk size is greater than size of feature matrix
  warnings.warn("Chunk size is greater than size of feature matrix")

EntitySet scattered to workers in 1.948 seconds
Elapsed: 00:00 | Remaining: 00:00 | Progress: 100%|██████████| Calculated: 1/1 chunks
Built 33 features
EntitySet scattered to workers in 6.875 seconds
Elapsed: 00:01 | Remaining: 00:00 | Progress: 100%|██████████| Calculated: 10/10 chunks

In [15]:
feature_matrix

,,SUM(purchases.Unnamed: 0),SUM(purchases.quantity),SUM(purchases.price),SUM(purchases.total),STD(purchases.Unnamed: 0),STD(purchases.quantity),STD(purchases.price),STD(purchases.total),MAX(purchases.Unnamed: 0),MAX(purchases.quantity),...,NUM_UNIQUE(purchases.order_id),NUM_UNIQUE(purchases.product_id),MODE(purchases.order_id),MODE(purchases.product_id),DAY(first_purchases_time),YEAR(first_purchases_time),MONTH(first_purchases_time),WEEKDAY(first_purchases_time),total,label
customer_id,time,,,,,,,,,,,,,,,,,,,,,
12347.0,2011-03-01,2095540,315,120.7305,784.3935,8.366600,7.379955,3.945969,11.445900,72274,24,...,1,29,542237,20719,26,2011,1,2,0.0000,0
12352.0,2011-03-01,1377360,98,112.7775,489.2250,4.320494,3.981066,5.355588,10.528141,91831,12,...,1,15,544156,21232,16,2011,2,2,502.7220,1
12347.0,2011-04-01,2095540,315,120.7305,784.3935,8.366600,7.379955,3.945969,11.445900,72274,24,...,1,29,542237,20719,26,2011,1,2,1049.8125,1
12352.0,2011-04-01,5350589,188,3135.1155,991.9470,15767.778014,6.960703,157.369454,171.627342,129788,12,...,8,26,544156,M,16,2011,2,2,0.0000,0
12347.0,2011-05-01,5654656,798,223.5090,1834.2060,37848.692147,32.080921,4.049262,53.512381,148308,240,...,2,46,542237,21041,26,2011,1,2,0.0000,0
12352.0,2011-05-01,5350589,188,3135.1155,991.9470,15767.778014,6.960703,157.369454,171.627342,129788,12,...,8,26,544156,M,16,2011,2,2,0.0000,0
12347.0,2011-06-01,5654656,798,223.5090,1834.2060,37848.692147,32.080921,4.049262,53.512381,148308,240,...,2,46,542237,21041,26,2011,1,2,631.1580,1
12352.0,2011-06-01,5350589,188,3135.1155,991.9470,15767.778014,6.960703,157.369454,171.627342,129788,12,...,8,26,544156,M,16,2011,2,2,0.0000,0
12347.0,2011-07-01,9625105,994,311.9820,2465.3640,59363.500894,28.079866,3.926609,46.989513,220589,240,...,3,58,542237,22196,26,2011,1,2,0.0000,0
12352.0,2011-07-01,5350589,188,3135.1155,991.9470,15767.778014,6.960703,157.369454,171.627342,129788,12,...,8,26,544156,M,16,2011,2,2,0.0000,0
12347.0,2011-08-01,9625105,994,311.9820,2465.3640,59363.500894,28.079866,3.926609,46.989513,220589,240,...,3,58,542237,22196,26,2011,1,2,965.1015,1
12352.0,2011-08-01,5350589,188,3135.1155,991.9470,15767.778014,6.960703,157.369454,171.627342,129788,12,...,8,26,544156,M,16,2011,2,2,0.0000,0
12347.0,2011-09-01,15930998,1271,424.5780,3430.4655,82533.969612,24.943089,4.105807,45.898443,286642,240,...,4,65,542237,22375,26,2011,1,2,0.0000,0
12352.0,2011-09-01,5350589,188,3135.1155,991.9470,15767.778014,6.960703,157.369454,171.627342,129788,12,...,8,26,544156,M,16,2011,2,2,1043.6250,1
12347.0,2011-10-01,15930998,1271,424.5780,3430.4655,82533.969612,24.943089,4.105807,45.898443,286642,240,...,4,65,542237,22375,26,2011,1,2,2135.6280,1
12352.0,2011-10-01,16752065,343,3505.5405,2035.5720,120661.428126,5.846353,125.055457,133.644271,365180,12,...,10,47,567505,M,16,2011,2,2,0.0000,0
12347.0,2011-11-01,36093058,1947,623.8320,5566.0935,139041.534405,20.988737,4.005108,42.142184,429003,240,...,5,83,573511,22375,26,2011,1,2,0.0000,0
12352.0,2011-11-01,16752065,343,3505.5405,2035.5720,120661.428126,5.846353,125.055457,133.644271,365180,12,...,10,47,567505,M,16,2011,2,2,514.3545,1
12347.0,2011-12-01,36093058,1947,623.8320,5566.0935,139041.534405,20.988737,4.005108,42.142184,429003,240,...,5,83,573511,22375,26,2011,1,2,370.9530,0
12352.0,2011-12-01,23310395,470,3648.3150,2549.9265,138425.159835,5.958397,115.610485,123.148611,437229,16,...,11,59,567505,M,16,2011,2,2,0.0000,0

In [16]:
feature_matrix_duplicated

                        SUM(purchases.Unnamed: 0)  SUM(purchases.quantity)  \
customer_id time
12347.0     2011-03-01                    2095540                      315
12352.0     2011-03-01                    1377360                       98
            2011-03-01                    1377360                       98
            2011-03-01                    1377360                       98
            2011-03-01                    1377360                       98
            2011-03-01                    1377360                       98
            2011-03-01                    1377360                       98
            2011-03-01                    1377360                       98
12347.0     2011-04-01                    2095540                      315
            2011-04-01                    2095540                      315
            2011-04-01                    2095540                      315
            2011-04-01                    2095540                      315
            2011-04-01                    2095540                      315
            2011-04-01                    2095540                      315
            2011-04-01                    2095540                      315
12352.0     2011-04-01                    5350589                      188
12347.0     2011-05-01                    5654656                      798
12352.0     2011-05-01                    5350589                      188
12347.0     2011-06-01                    5654656                      798
            2011-06-01                    5654656                      798
            2011-06-01                    5654656                      798
            2011-06-01                    5654656                      798
            2011-06-01                    5654656                      798
            2011-06-01                    5654656                      798
            2011-06-01                    5654656                      798
12352.0     2011-06-01                    5350589                      188
12347.0     2011-07-01                    9625105                      994
12352.0     2011-07-01                    5350589                      188
12347.0     2011-08-01                    9625105                      994
            2011-08-01                    9625105                      994
...                                           ...                      ...
            2011-08-01                    9625105                      994
            2011-08-01                    9625105                      994
            2011-08-01                    9625105                      994
12352.0     2011-08-01                    5350589                      188
12347.0     2011-09-01                   15930998                     1271
12352.0     2011-09-01                    5350589                      188
12347.0     2011-10-01                   15930998                     1271
            2011-10-01                   15930998                     1271
            2011-10-01                   15930998                     1271
            2011-10-01                   15930998                     1271
            2011-10-01                   15930998                     1271
            2011-10-01                   15930998                     1271
            2011-10-01                   15930998                     1271
12352.0     2011-10-01                   16752065                      343
12347.0     2011-11-01                   36093058                     1947
12352.0     2011-11-01                   16752065                      343
            2011-11-01                   16752065                      343
            2011-11-01                   16752065                      343
            2011-11-01                   16752065                      343
            2011-11-01                   16752065                      343
            2011-11-01                   16752065                      343
            2011-11-01                   16752065                      343
12347.0     2011-12-01                   36093058                     1947
            2011-12-01                   36093058                     1947
            2011-12-01                   36093058                     1947
            2011-12-01                   36093058                     1947
            2011-12-01                   36093058                     1947
            2011-12-01                   36093058                     1947
            2011-12-01                   36093058                     1947
12352.0     2011-12-01                   23310395                      470

                        SUM(purchases.price)  SUM(purchases.total)  \
customer_id time
12347.0     2011-03-01              120.7305              784.3935
12352.0     2011-03-01              112.7775              489.2250
            2011-03-01              112.7775              489.2250
            2011-03-01              112.7775              489.2250
            2011-03-01              112.7775              489.2250
            2011-03-01              112.7775              489.2250
            2011-03-01              112.7775              489.2250
            2011-03-01              112.7775              489.2250
12347.0     2011-04-01              120.7305              784.3935
            2011-04-01              120.7305              784.3935
            2011-04-01              120.7305              784.3935
            2011-04-01              120.7305              784.3935
            2011-04-01              120.7305              784.3935
            2011-04-01              120.7305              784.3935
            2011-04-01              120.7305              784.3935
12352.0     2011-04-01             3135.1155              991.9470
12347.0     2011-05-01              223.5090             1834.2060
12352.0     2011-05-01             3135.1155              991.9470
12347.0     2011-06-01              223.5090             1834.2060
            2011-06-01              223.5090             1834.2060
            2011-06-01              223.5090             1834.2060
            2011-06-01              223.5090             1834.2060
            2011-06-01              223.5090             1834.2060
            2011-06-01              223.5090             1834.2060
            2011-06-01              223.5090             1834.2060
12352.0     2011-06-01             3135.1155              991.9470
12347.0     2011-07-01              311.9820             2465.3640
12352.0     2011-07-01             3135.1155              991.9470
12347.0     2011-08-01              311.9820             2465.3640
            2011-08-01              311.9820             2465.3640
...                                      ...                   ...
            2011-08-01              311.9820             2465.3640
            2011-08-01              311.9820             2465.3640
            2011-08-01              311.9820             2465.3640
12352.0     2011-08-01             3135.1155              991.9470
12347.0     2011-09-01              424.5780             3430.4655
12352.0     2011-09-01             3135.1155              991.9470
12347.0     2011-10-01              424.5780             3430.4655
            2011-10-01              424.5780             3430.4655
            2011-10-01              424.5780             3430.4655
            2011-10-01              424.5780             3430.4655
            2011-10-01              424.5780             3430.4655
            2011-10-01              424.5780             3430.4655
            2011-10-01              424.5780             3430.4655
12352.0     2011-10-01             3505.5405             2035.5720
12347.0     2011-11-01              623.8320             5566.0935
12352.0     2011-11-01             3505.5405             2035.5720
            2011-11-01             3505.5405             2035.5720
            2011-11-01             3505.5405             2035.5720
            2011-11-01             3505.5405             2035.5720
            2011-11-01             3505.5405             2035.5720
            2011-11-01             3505.5405             2035.5720
            2011-11-01             3505.5405             2035.5720
12347.0     2011-12-01              623.8320             5566.0935
            2011-12-01              623.8320             5566.0935
            2011-12-01              623.8320             5566.0935
            2011-12-01              623.8320             5566.0935
            2011-12-01              623.8320             5566.0935
            2011-12-01              623.8320             5566.0935
            2011-12-01              623.8320             5566.0935
12352.0     2011-12-01             3648.3150             2549.9265

                        STD(purchases.Unnamed: 0)  STD(purchases.quantity)  \
customer_id time
12347.0     2011-03-01                   8.366600                 7.379955
12352.0     2011-03-01                   4.320494                 3.981066
            2011-03-01                   4.320494                 3.981066
            2011-03-01                   4.320494                 3.981066
            2011-03-01                   4.320494                 3.981066
            2011-03-01                   4.320494                 3.981066
            2011-03-01                   4.320494                 3.981066
            2011-03-01                   4.320494                 3.981066
12347.0     2011-04-01                   8.366600                 7.379955
            2011-04-01                   8.366600                 7.379955
            2011-04-01                   8.366600                 7.379955
            2011-04-01                   8.366600                 7.379955
            2011-04-01                   8.366600                 7.379955
            2011-04-01                   8.366600                 7.379955
            2011-04-01                   8.366600                 7.379955
12352.0     2011-04-01               15767.778014                 6.960703
12347.0     2011-05-01               37848.692147                32.080921
12352.0     2011-05-01               15767.778014                 6.960703
12347.0     2011-06-01               37848.692147                32.080921
            2011-06-01               37848.692147                32.080921
            2011-06-01               37848.692147                32.080921
            2011-06-01               37848.692147                32.080921
            2011-06-01               37848.692147                32.080921
            2011-06-01               37848.692147                32.080921
            2011-06-01               37848.692147                32.080921
12352.0     2011-06-01               15767.778014                 6.960703
12347.0     2011-07-01               59363.500894                28.079866
12352.0     2011-07-01               15767.778014                 6.960703
12347.0     2011-08-01               59363.500894                28.079866
            2011-08-01               59363.500894                28.079866
...                                           ...                      ...
            2011-08-01               59363.500894                28.079866
            2011-08-01               59363.500894                28.079866
            2011-08-01               59363.500894                28.079866
12352.0     2011-08-01               15767.778014                 6.960703
12347.0     2011-09-01               82533.969612                24.943089
12352.0     2011-09-01               15767.778014                 6.960703
12347.0     2011-10-01               82533.969612                24.943089
            2011-10-01               82533.969612                24.943089
            2011-10-01               82533.969612                24.943089
            2011-10-01               82533.969612                24.943089
            2011-10-01               82533.969612                24.943089
            2011-10-01               82533.969612                24.943089
            2011-10-01               82533.969612                24.943089
12352.0     2011-10-01              120661.428126                 5.846353
12347.0     2011-11-01              139041.534405                20.988737
12352.0     2011-11-01              120661.428126                 5.846353
            2011-11-01              120661.428126                 5.846353
            2011-11-01              120661.428126                 5.846353
            2011-11-01              120661.428126                 5.846353
            2011-11-01              120661.428126                 5.846353
            2011-11-01              120661.428126                 5.846353
            2011-11-01              120661.428126                 5.846353
12347.0     2011-12-01              139041.534405                20.988737
            2011-12-01              139041.534405                20.988737
            2011-12-01              139041.534405                20.988737
            2011-12-01              139041.534405                20.988737
            2011-12-01              139041.534405                20.988737
            2011-12-01              139041.534405                20.988737
            2011-12-01              139041.534405                20.988737
12352.0     2011-12-01              138425.159835                 5.958397

                        STD(purchases.price)  STD(purchases.total)  \
customer_id time
12347.0     2011-03-01              3.945969             11.445900
12352.0     2011-03-01              5.355588             10.528141
            2011-03-01              5.355588             10.528141
            2011-03-01              5.355588             10.528141
            2011-03-01              5.355588             10.528141
            2011-03-01              5.355588             10.528141
            2011-03-01              5.355588             10.528141
            2011-03-01              5.355588             10.528141
12347.0     2011-04-01              3.945969             11.445900
            2011-04-01              3.945969             11.445900
            2011-04-01              3.945969             11.445900
            2011-04-01              3.945969             11.445900
            2011-04-01              3.945969             11.445900
            2011-04-01              3.945969             11.445900
            2011-04-01              3.945969             11.445900
12352.0     2011-04-01            157.369454            171.627342
12347.0     2011-05-01              4.049262             53.512381
12352.0     2011-05-01            157.369454            171.627342
12347.0     2011-06-01              4.049262             53.512381
            2011-06-01              4.049262             53.512381
            2011-06-01              4.049262             53.512381
            2011-06-01              4.049262             53.512381
            2011-06-01              4.049262             53.512381
            2011-06-01              4.049262             53.512381
            2011-06-01              4.049262             53.512381
12352.0     2011-06-01            157.369454            171.627342
12347.0     2011-07-01              3.926609             46.989513
12352.0     2011-07-01            157.369454            171.627342
12347.0     2011-08-01              3.926609             46.989513
            2011-08-01              3.926609             46.989513
...                                      ...                   ...
            2011-08-01              3.926609             46.989513
            2011-08-01              3.926609             46.989513
            2011-08-01              3.926609             46.989513
12352.0     2011-08-01            157.369454            171.627342
12347.0     2011-09-01              4.105807             45.898443
12352.0     2011-09-01            157.369454            171.627342
12347.0     2011-10-01              4.105807             45.898443
            2011-10-01              4.105807             45.898443
            2011-10-01              4.105807             45.898443
            2011-10-01              4.105807             45.898443
            2011-10-01              4.105807             45.898443
            2011-10-01              4.105807             45.898443
            2011-10-01              4.105807             45.898443
12352.0     2011-10-01            125.055457            133.644271
12347.0     2011-11-01              4.005108             42.142184
12352.0     2011-11-01            125.055457            133.644271
            2011-11-01            125.055457            133.644271
            2011-11-01            125.055457            133.644271
            2011-11-01            125.055457            133.644271
            2011-11-01            125.055457            133.644271
            2011-11-01            125.055457            133.644271
            2011-11-01            125.055457            133.644271
12347.0     2011-12-01              4.005108             42.142184
            2011-12-01              4.005108             42.142184
            2011-12-01              4.005108             42.142184
            2011-12-01              4.005108             42.142184
            2011-12-01              4.005108             42.142184
            2011-12-01              4.005108             42.142184
            2011-12-01              4.005108             42.142184
12352.0     2011-12-01            115.610485            123.148611

                        MAX(purchases.Unnamed: 0)  MAX(purchases.quantity)  \
customer_id time
12347.0     2011-03-01                      72274                       24
12352.0     2011-03-01                      91831                       12
            2011-03-01                      91831                       12
            2011-03-01                      91831                       12
            2011-03-01                      91831                       12
            2011-03-01                      91831                       12
            2011-03-01                      91831                       12
            2011-03-01                      91831                       12
12347.0     2011-04-01                      72274                       24
            2011-04-01                      72274                       24
            2011-04-01                      72274                       24
            2011-04-01                      72274                       24
            2011-04-01                      72274                       24
            2011-04-01                      72274                       24
            2011-04-01                      72274                       24
12352.0     2011-04-01                     129788                       12
12347.0     2011-05-01                     148308                      240
12352.0     2011-05-01                     129788                       12
12347.0     2011-06-01                     148308                      240
            2011-06-01                     148308                      240
            2011-06-01                     148308                      240
            2011-06-01                     148308                      240
            2011-06-01                     148308                      240
            2011-06-01                     148308                      240
            2011-06-01                     148308                      240
12352.0     2011-06-01                     129788                       12
12347.0     2011-07-01                     220589                      240
12352.0     2011-07-01                     129788                       12
12347.0     2011-08-01                     220589                      240

## Dropping duplicates does not work unless index is reset

In [20]:
feature_matrix_duplicated.shape

(62, 35)

Dropping the duplicated rows is not valid because some months contain exactly the same information for the customer (they had no purchases from month to month that affected the features). Therefore, this call will drop _too many_ rows.

In [21]:
feature_matrix_duplicated.drop_duplicates().shape

(16, 35)

Instead, we can use `drop_duplicates` _after_ reseting the index.

In [22]:
feature_matrix_duplicated.reset_index().drop_duplicates().shape

(20, 37)