In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('data/online-retail-logs-v2.csv', parse_dates = ['order_date'])
df.head()

,order_id,product_id,description,quantity,order_date,unit_price,customer_id,country,total,cancelled
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.2075,17850.0,United Kingdom,25.245,False
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,5.5935,17850.0,United Kingdom,33.561,False
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,4.5375,17850.0,United Kingdom,36.300,False
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,5.5935,17850.0,United Kingdom,33.561,False
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,5.5935,17850.0,United Kingdom,33.561,False

In [13]:
df.shape

(401604, 10)

In [14]:
df.drop_duplicates().shape

(401604, 10)

In [15]:
df.dropna(axis = 0, subset = ['customer_id']).shape

(401604, 10)

In [16]:
df.dropna(axis = 0).shape

(401604, 10)

In [17]:
df[df['order_date'].dt.year == 2011].shape

(375250, 10)

In [18]:
df['order_date'].describe()

count                  401604
unique                  20460
top       2011-11-14 15:27:00
freq                      543
first     2010-12-01 08:26:00
last      2011-12-09 12:50:00
Name: order_date, dtype: object